name: "semantic-pr-title"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  main:
    name: validate
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@ac7e3fc035c47465748bbcb1a822c1583cf79bbc
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
